<!doctype html>
<html>
<head>
    <title>Live</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>

  
<div class="container">

    <div class="page-header text-center">
        <h1>Let's Talk </h1>
       
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>
                
               
                <% if (user.local.email) { %>
                    <p>
                        
                        <strong>email</strong>: <%= user.local.email %><br>
                        
                    </p>
                    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
                   
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>
              
                      <h3><span class="fa solid fa fa-video"></span> <i class="fa-sharp fa-solid fa-circle" style="color: #ff0000;"></i> You Live</h3>
                      
                      <video id="video" width="400" height="400"></video>
                      
                      
            
              
            </div>
        </div>

      
       

      <div class="col-sm-6">
        <div class="well">

          <h3>PenPal Matches</h3>
          <ul class="messages">
          <% for(var j=0; j<matched.length; j++) {%>
            <li class="message">

             
              <span><%= matched[j].emailMatch %></span>
           
             <span><i class="fa fa-trash" aria-hidden="true"></i></span>
            </li>
          <% } %>
          </ul>  
          
          
          <h3>Post</h3>
          <ul class="messages">
           
          <% for(var i=0; i<messages.length; i++) {%>
            
            <li class="message">
             

              

              <span><%= messages[i].name %></span>
              <input type="text" placeholder="enter email to match" name="emailMatch">
             <span><i class="fa fa-check" aria-hidden="true"></i></span>
             <span><i class="fa fa-trash" aria-hidden="true"></i></span>
             
            </li>
          
           <% } %>
          </ul>  
         
        </div>
    </div>
    
        <div class="col-sm-6">
          <div class="wells">
      

          
        <% if (user.local.email) { %>
          <form action="/messages" method="POST">
            
            <input type="text" value="<%= user.local.email %>" name="name">
            
            
            
            <button type="submit">Submit</button>
          </form>
        </div>
        <% } %>
 
      </div>

</div>



<script src="main.js"></script>

</body>
</html>
